html{
    font-family: 'Montserrat', sans-serif;
    background-color: red;
}

.container{
    text-align: center;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.hero-image{
    margin: 25%;
    font-size: 50px;
    font-weight: 300;
}

.page-header div:first-child{
    text-align: right;
}